# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# AI folders
audio/
outputs/

# Output files
!requirements.txt
!package.json
!composer.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
